<main>
    <div class="login-block" style="background-image: url('./../../public/users/images/dist/bg_1.jpg');">

        <div class="form-wrap">
            <div class="icon-block">
                <i></i>
            </div>
            <h1>Авторизация</h1>
            <form action="">
                <label for="login"><i class="fa-user"></i><input type="text" id="login"></label>
                <label for="password"><i class="fa-lock"></i><input type="password" name="" id="password"></label>
                <input type="submit" value="log-in">
            </form>
        </div>
    </div>
</main>
