<!DOCTYPE html>
<html lang="">

<head>

    <meta charset="utf-8">
    <title>Internet Shop</title>
    <meta name="description" content="Internet Shop for gadjet">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="icon" href="images/src/iphone_favicon.png"> -->
    <!-- <link rel="stylesheet" href="libs\OwlCarousel2-2.3.4\dist\assets\owl.carousel.min.css">
    <link rel="stylesheet" href="libs\OwlCarousel2-2.3.4\dist\assets\owl.theme.default.min.css"> -->
    <!-- <meta property="og:image" content="images/dest/preview.jpg"> -->
    <!-- <link rel="stylesheet" href="libs/fontawesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../../../public/admin/css/app.min.css">

</head>


<body>

<main>

    <?php echo $content; ?>

</main>

<script src="../../../public/admin/js/libs.min.js "></script>
<script src="../../../public/admin/libs/medium-editor/dist/js/medium-editor.min.js"></script>
<script src="../../../public/admin/js/app.min.js "></script>
</body>

</html>