<!-- About Us Section -->
<section class="about-us-section" style="background-image: url('../../../public/users/images/dist/blog-3.jpg');">
    <div class="about-background-darken">
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="about-us-content">
                <h1>Contact Us</h1>
                <h2><a href="/">Home <i class="fas fa-chevron-right"></i></a> <span>Contact Us <i
                        class="fas fa-chevron-right"></i></span></h2>
            </div>

        </div>
    </div>
</section>
<section class="contact-us-section">
    <div class="container-fluid">
        <div class="row contact">
            <div class="col-xl-5"></div>
            <div class="col-xl-7 ">
                <div class="contact-form">
                    <form action="" method="">
                        <input type="text" placeholder="Your Name">
                        <input type="text" placeholder="Your Email">
                        <input type="text" placeholder="Subject">
                        <textarea rows="7" name="text" placeholder="Message"></textarea>
                        <input type="submit" value="Send Message">
                    </form>
                </div>

            </div>
        </div>
        <div class="row"></div>
    </div>
</section>
<!-- Subscribe Section -->
<section class="subscribe">
    <div class="container-fluid">
        <div class="row stories-title">
            <div class="col-xl-12 subscribe-content-wrap">
                <h1><span>Subcribe to our Newsletter</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem libero, molestias iure
                    corporis ab exercitationem eveniet ipsam voluptates rerum atque vitae ratione repellat, consequatur
                    quasi magnam nesciunt aut distinctio.</p>
            </div>
        </div>

        <div class="row form-wrap">
            <form action="" method="post" class="subscribe-form">
                <input type="text" name="subscribe-email" placeholder="Enter email address" class="subscribe-email">
                <input type="submit" value="Subscribe" class="subscribe-submit">
            </form>
        </div>
    </div>

</section>

