<!-- About Us Section -->
<section class="about-us-section" style="background-image: url('../../../public/users/images/dist/blog-3.jpg');">
    <div class="about-background-darken">
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="about-us-content">
                <h1>Foods</h1>
                <h2><a href="/">Home <i class="fas fa-chevron-right"></i></a> <span>Foods <i
                        class="fas fa-chevron-right"></i></span></h2>
            </div>

        </div>
    </div>
</section>
<section class="foods-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 order-2 order-sm-2 order-xl-1">
                <!-- <div class="filter-wrap">
                    <button class="foods-filter"><i class="fas fa-filter"></i></button>
                    <div class="filter-list">
                        <div class="list">
                            <ul>
                                <li class="category-list"><label for="desserts"><input type="checkbox" name="desserts" id="desserts" class="categories-checkbox" value="desserts"><div class="my-checkbox"></div>Desserts</label></li>
                                <li class="category-list"><label for="hot-food"><input type="checkbox" name="hot-food" id="hot-food" class="categories-checkbox" value="hot-food"><div class="my-checkbox"></div>Hot Food</label></li>
                                <li class="category-list"><label for="salads"><input type="checkbox" name="salads" id="salads" class="categories-checkbox" value="salads"><div class="my-checkbox"></div>Salads</label></li>
                                <li class="category-list"><label for="meat"><input type="checkbox" name="meat" id="meat" class="categories-checkbox" value="meat"><div class="my-checkbox"></div>Meat</label></li>
                                <li class="category-list"><label for="soups"><input type="checkbox" name="soups" id="soups" class="categories-checkbox" value="soups"><div class="my-checkbox"></div>Soups</label></li>
                                <li class="category-list"><label for="fish-seafoods"><input type="checkbox" name="fish-seafoods" id="fish-seafoods" class="categories-checkbox" value="fish-seafoods"><div class="my-checkbox"></div>Fish and Seafoods</label></li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="col-xl-4 food">
                        <a href="" class="food-block-wrap">
                            <div class="foto-block"
                                 style="background-image: url('../../../public/users/images/dist/blog-1.jpg');"></div>
                        </a>
                        <h1><span class="type-food">Dessert</span><span class="date-food">March 01, 2018</span></h1>
                        <a href="">
                            <h2>Tasty &amp; Delicious Foods</h2>
                        </a>
                        <a href="" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="row nav-buttons">
                    <div class="nav-buttons-wrap">
                        <a href=""><i class="fas fa-chevron-left"></i></a>
                        <a href="" class="active">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">5</a>
                        <a href="">6</a>
                        <a href=""><i class="fas fa-chevron-right"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 categories-block order-1 order-sm-1 order-xl-2">
                <div class="row">
                    <div class="category-title">
                        <h1>Categories</h1>
                    </div>
                </div>
                <div class="row categories">
                    <div class="list">
                        <ul>
                            <li class="category-list"><label for="desserts"><input type="checkbox" name="desserts"
                                                                                   id="desserts"
                                                                                   class="categories-checkbox"
                                                                                   value="desserts">
                                <div class="my-checkbox"></div>
                                Desserts</label></li>
                            <li class="category-list"><label for="hot-food"><input type="checkbox" name="hot-food"
                                                                                   id="hot-food"
                                                                                   class="categories-checkbox"
                                                                                   value="hot-food">
                                <div class="my-checkbox"></div>
                                Hot Food</label></li>
                            <li class="category-list"><label for="salads"><input type="checkbox" name="salads"
                                                                                 id="salads" class="categories-checkbox"
                                                                                 value="salads">
                                <div class="my-checkbox"></div>
                                Salads</label></li>
                            <li class="category-list"><label for="meat"><input type="checkbox" name="meat" id="meat"
                                                                               class="categories-checkbox" value="meat">
                                <div class="my-checkbox"></div>
                                Meat</label></li>
                            <li class="category-list"><label for="soups"><input type="checkbox" name="soups" id="soups"
                                                                                class="categories-checkbox"
                                                                                value="soups">
                                <div class="my-checkbox"></div>
                                Soups</label></li>
                            <li class="category-list"><label for="fish-seafoods"><input type="checkbox"
                                                                                        name="fish-seafoods"
                                                                                        id="fish-seafoods"
                                                                                        class="categories-checkbox"
                                                                                        value="fish-seafoods">
                                <div class="my-checkbox"></div>
                                Fish and Seafoods</label></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Subscribe Section -->
<section class="subscribe">
    <div class="container-fluid">
        <div class="row stories-title">
            <div class="col-xl-12 subscribe-content-wrap">
                <h1><span>Subcribe to our Newsletter</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem libero, molestias iure
                    corporis ab exercitationem eveniet ipsam voluptates rerum atque vitae ratione repellat, consequatur
                    quasi magnam nesciunt aut distinctio.</p>
            </div>
        </div>

        <div class="row form-wrap">
            <form action="" method="post" class="subscribe-form">
                <input type="text" name="subscribe-email" placeholder="Enter email address" class="subscribe-email">
                <input type="submit" value="Subscribe" class="subscribe-submit">
            </form>
        </div>
    </div>

</section>

