<!-- About Us Section -->
<section class="about-us-section" style="background-image: url('/../../../public/users/images/dist/blog-3.jpg');">
    <div class="about-background-darken">
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="about-us-content">
                <h1>Food Name</h1>
                <h2><a href="/">Home <i class="fas fa-chevron-right"></i></a> <span>Food Name <i
                        class="fas fa-chevron-right"></i></span></h2>
            </div>

        </div>
    </div>
</section>
<!-- Food's recipe -->
<section class="foods-recipe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 recent-foods">
                <div class="recent-foods-title">
                    <h1>Recent Foods</h1>
                </div>
                <div class="recent-foods-list">
                    <ul>
                        <li class="recent-food">
                            <div class="row">
                                <div class="col-xl-4">
                                    <img src="/../../../public/users/images/dist/blog-3.jpg" alt="blog-3">
                                </div>
                                <div class="col-xl-8 recent-food-info">
                                    <a href="">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                                    </a>
                                    <p class="food-created-info"><span><i class="fas fa-calendar"></i>February 12, 2019</span><span><i
                                            class="fas fa-user"></i>Admin</span><span><i
                                            class="fas fa-comments"></i> 19</span></p>
                                </div>
                            </div>
                        </li>
                        <li class="recent-food">
                            <div class="row">
                                <div class="col-xl-4">
                                    <img src="/../../../public/users/images/dist/blog-3.jpg" alt="blog-3">
                                </div>
                                <div class="col-xl-8 recent-food-info">
                                    <a href="">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                                    </a>
                                    <p class="food-created-info"><span><i class="fas fa-calendar"></i>February 12, 2019</span><span><i
                                            class="fas fa-user"></i>Admin</span><span><i
                                            class="fas fa-comments"></i> 19</span></p>
                                </div>
                            </div>
                        </li>
                        <li class="recent-food">
                            <div class="row">
                                <div class="col-xl-4">
                                    <img src="/../../../public/users/images/dist/blog-3.jpg" alt="blog-3">
                                </div>
                                <div class="col-xl-8 recent-food-info">
                                    <a href="">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                                    </a>
                                    <p class="food-created-info"><span><i class="fas fa-calendar"></i>February 12, 2019</span><span><i
                                            class="fas fa-user"></i>Admin</span><span><i
                                            class="fas fa-comments"></i> 19</span></p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-xl-8 food-recipe">
                <h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                </h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci asperiores saepe sint vel
                    quam natus, hic ad iste sequi dolor ex. Dignissimos commodi, eius fuga ut iste natus autem
                    voluptatum, vel sint est, quibusdam quod
                    nisi necessitatibus minima deserunt maiores! Harum fugiat et repellat laboriosam id
                    reiciendis praesentium culpa velit.</p>
                <img src="../../../../public/users/images/dist/image_6.jpg" alt="food-img">


                <ul>
                    <li>
                        
                    </li>
                </ul>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero illo impedit vitae delectus
                    non eum, harum velit nihil nam veniam, commodi quo est similique quam dolores aperiam a.
                    Harum a porro consequuntur cumque qui doloribus
                    est. Velit quae ratione deleniti, id neque reprehenderit vero ex sunt. Molestiae esse
                    aspernatur eum pariatur porro libero itaque, cupiditate sequi cumque, ex quis fugit?</p>

            </div>
        </div>
    </div>
</section>
<section class="comments-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 offset-xl-4 col-md-12 offset-md-0">
                <div class="comments">
                    <h1 class="comments-title">6 Comments</h1>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-xl-2 col-md-2 col-sm-2 col-3 comment-image-wrap">
                                    <div class="comment-image">
                                    </div>
                                </div>
                                <div class="col-xl-10 col-md-10 col-sm-10 col-9">
                                    <div class="comment-text">
                                        <h1>John Doe</h1>
                                        <h2>OCTOBER 03, 2018 AT 2:21PM</h2>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus iure
                                            consequatur sapiente debitis animi, nobis necessitatibus amet labore
                                            sunt architecto, velit qui asperiores similique quasi? Maxime
                                            fugit saepe, esse ut culpa hic, impedit porro fugiat iure quam, rem
                                            consequuntur cupiditate.</p>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xl-2 col-md-2 col-sm-2 col-3 comment-image-wrap">
                                            <div class="comment-image">
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-md-10 col-sm-10 col-9">
                                            <div class="comment-text">
                                                <h1>John Doe</h1>
                                                <h2>OCTOBER 03, 2018 AT 2:21PM</h2>
                                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                    Natus iure consequatur sapiente debitis animi, nobis
                                                    necessitatibus amet labore sunt architecto, velit qui
                                                    asperiores similique quasi?
                                                    Maxime fugit saepe, esse ut culpa hic, impedit porro fugiat
                                                    iure quam, rem consequuntur cupiditate.</p>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 offset-xl-4 col-md-12 offset-md-0 leave-comment">
                <h1>Leave a comment</h1>
                <div class="comment-form">
                    <form action="" method="">
                        <label for="name">Name*</label></br>
                        <input type="text" id="name"></br>
                        <label for="email">Email*</label></br>
                        <input type="text" id="email"></br>
                        <label for="message">Message*</label></br>
                        <textarea rows="7" name="text" id="message"></textarea></br>
                        <input type="submit" value="Post Comment">
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Subscribe Section -->
<section class="subscribe">
    <div class="container-fluid">
        <div class="row stories-title">
            <div class="col-xl-12 subscribe-content-wrap">
                <h1><span>Subcribe to our Newsletter</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem libero, molestias iure
                    corporis ab exercitationem eveniet ipsam voluptates rerum atque vitae ratione repellat,
                    consequatur quasi magnam nesciunt aut distinctio.</p>
            </div>
        </div>

        <div class="row form-wrap">
            <form action="" method="post" class="subscribe-form">
                <input type="text" name="subscribe-email" placeholder="Enter email address"
                       class="subscribe-email">
                <input type="submit" value="Subscribe" class="subscribe-submit">
            </form>
        </div>
    </div>

</section>

